<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
 
</head>
<body>
    <h1>Signup Project</h1>
    <div>
        <a href="{% url 'new' %}">Write your information</a>
    </div>
    <div class="container">
    {% for signup in signups %}
        <div>
       <br> <h3>{{signup.name}} </h3> 
        {{signup.age}} <br>
        {{signup.pub_date}} <br>
        {{signup.email}} <br>
        {{signup.info_summary}} <a href = "{% url 'detail' signup.id %}">...more</a>
        <br>
        </div>
    {% endfor %}
  </div>  
</body>
</html>